@import 'https://fonts.googleapis.com/css?family=Exo:300,300i,400,500,500i,700,700i,800,900';

body{
    font-family: 'Exo', sans-serif ;
    text-align: center;
}

label {
    margin-right: 5%;
}

.error {
    font-weight: bold;
    margin-bottom: 30px;
}

.index {
    background-image: url(../img/chaussettes-inauguration.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home {

    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 40px;
    padding: 45px 0;
    margin-bottom: 50px;

}
#contest-form {
    margin-top: 100px;
}

#contest-form h1{
    color: #ffffff;
    margin-bottom: 50px;
    text-shadow: 2px 2px #aaa;
}

#logo-wcs {
    width: 150px;
    margin-bottom: 30px;
    margin-top: -60px;
}

.form-info {
    height: 60px;
    width: 50%;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.form-group {
    margin-top: 10%;

}


#sock-upload {
    font-size: 1.5em;
}

#upload {
    display: inline-block;
}

#contest-form-valid {
    background-color: #FBA858;
    font-size: 1.2em;
    color: #ffffff;
    font-weight: 500;
    width:120px;
}

#contest-form-valid:hover {
    font-weight: 700;
    background-color: #FF7D00;
}

#hashtags p{
    color: #FFFFFF;
    font-size: 3em;
    font-weight: 700;
}

#hashtags p span {
    color: #2b2b2b;
}


.btn-primary {
    background-image: linear-gradient(to bottom,#539a93 0,#627573 100%);
}

.back-image {
    background: url('../img/login-photo.jpg') 100%;
}

#login-form {
    width: 50%;
    min-width: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin-top: 5%;
    border-radius: 30px;
}

#logo-wcs-deer {
    width: 70%;
    height: 70%;
    min-height: 100px;
    min-width: 100px;
}


/* winner */
.winner img {
    width: 20%;
    margin-bottom: 100px;
}
.winner-socks {
    height: 150px;
    width: 150px;
    display: inline-block;
}



/*redicretion*/
#contest-form-valid-red {
    background-color: #FBA858;
    font-size: 1.2em;
    color: #ffffff;
    font-weight: 500;
    width:300px;
}

#contest-form-valid-red:hover {
    font-weight: 700;
    background-color: #FF7D00;
}

img.winner {
    max-width: 100%;
}

span.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}